<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN editheader}<h2 {$editheader_hiddenattr} data-pageid="{$pageid}" data-brick="editheader" >{$pagetitlelabel fcevents edit}{$event fcevents_snippet1}
                  </h2>

{END editheader}



</div>
{END container_header}








{BEGIN container_message}<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$editfields_hiddenattr} data-pageid="{$pageid}" data-brick="editfields" class="form-horizontal" role="form">



			{BEGIN Subject_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_Subject}" data-fieldname="Subject" data-signal-error-for="Subject{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Subject}">
		{BEGIN Subject_label}{$label fcevents Subject}{END Subject_label}
	</label>
	<div class="col-md-6" >
		{$Subject_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Subject">
		<div class="text-muted" >
		{$tooltip fcevents Subject}
		</div>
	</div>
</div>
</div>
{END Subject_fieldblock}

			{BEGIN AllDay_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_AllDay}" data-fieldname="AllDay" data-signal-error-for="AllDay{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AllDay}">
		{BEGIN AllDay_label}{$label fcevents AllDay}{END AllDay_label}
	</label>
	<div class="col-md-6" >
		{$AllDay_editcontrol}
	<DIV id="allday_slider"></div>
                      </div>
	<div class="col-md-3 help-block" data-helpfor="AllDay">
		<div class="text-muted" >
		{$tooltip fcevents AllDay}
		</div>
	</div>
</div>
</div>
{END AllDay_fieldblock}

			{BEGIN FromDate_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_FromDate}" data-fieldname="FromDate" data-signal-error-for="FromDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FromDate}">
		{BEGIN FromDate_label}{$label fcevents FromDate}{END FromDate_label}
	</label>
	<div class="col-md-6" >
		{$FromDate_editcontrol}
	{$FromTime_editcontrol}
                        </div>
	<div class="col-md-3 help-block" data-helpfor="FromDate">
		<div class="text-muted" >
		{$tooltip fcevents FromDate}
		</div>
	</div>
</div>
</div>
{END FromDate_fieldblock}

			{BEGIN ToDate_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_ToDate}" data-fieldname="ToDate" data-signal-error-for="ToDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_ToDate}">
		{BEGIN ToDate_label}{$label fcevents ToDate}{END ToDate_label}
	</label>
	<div class="col-md-6" >
		{$ToDate_editcontrol}
	{$ToTime_editcontrol}
                        </div>
	<div class="col-md-3 help-block" data-helpfor="ToDate">
		<div class="text-muted" >
		{$tooltip fcevents ToDate}
		</div>
	</div>
</div>
</div>
{END ToDate_fieldblock}

			{BEGIN Category_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_Category}" data-fieldname="Category" data-signal-error-for="Category{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Category}">
		{BEGIN Category_label}{$label fcevents Category}{END Category_label}
	</label>
	<div class="col-md-6" >
		{$Category_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Category">
		<div class="text-muted" >
		{$tooltip fcevents Category}
		</div>
	</div>
</div>
</div>
{END Category_fieldblock}

			{BEGIN Description_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_Description}" data-fieldname="Description" data-signal-error-for="Description{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Description}">
		{BEGIN Description_label}{$label fcevents Description}{END Description_label}
	</label>
	<div class="col-md-6" >
		{$Description_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Description">
		<div class="text-muted" >
		{$tooltip fcevents Description}
		</div>
	</div>
</div>
</div>
{END Description_fieldblock}

			{BEGIN Image_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_Image}" data-fieldname="Image" data-signal-error-for="Image{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Image}">
		{BEGIN Image_label}{$label fcevents Image}{END Image_label}
	</label>
	<div class="col-md-6" >
		{$Image_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Image">
		<div class="text-muted" >
		{$tooltip fcevents Image}
		</div>
	</div>
</div>
</div>
{END Image_fieldblock}

			{BEGIN Location_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_Location}" data-fieldname="Location" data-signal-error-for="Location{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Location}">
		{BEGIN Location_label}{$label fcevents Location}{END Location_label}
	</label>
	<div class="col-md-6" >
		{$Location_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Location">
		<div class="text-muted" >
		{$tooltip fcevents Location}
		</div>
	</div>
</div>
</div>
{END Location_fieldblock}

			{BEGIN Note_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_Note}" data-fieldname="Note" data-signal-error-for="Note{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Note}">
		{BEGIN Note_label}{$label fcevents Note}{END Note_label}
	</label>
	<div class="col-md-6" >
		{$Note_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Note">
		<div class="text-muted" >
		{$tooltip fcevents Note}
		</div>
	</div>
</div>
</div>
{END Note_fieldblock}

			{BEGIN Repeat_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_Repeat}" data-fieldname="Repeat" data-signal-error-for="Repeat{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Repeat}">
		{BEGIN Repeat_label}{$label fcevents Repeat}{END Repeat_label}
	</label>
	<div class="col-md-6" >
		{$Repeat_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Repeat">
		<div class="text-muted" >
		{$tooltip fcevents Repeat}
		</div>
	</div>
</div>
</div>
{END Repeat_fieldblock}

			{BEGIN RepeatDays_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_RepeatDays}" data-fieldname="RepeatDays" data-signal-error-for="RepeatDays{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_RepeatDays}">
		{BEGIN RepeatDays_label}{$label fcevents RepeatDays}{END RepeatDays_label}
	</label>
	<div class="col-md-6" >
		{$RepeatDays_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="RepeatDays">
		<div class="text-muted" >
		{$tooltip fcevents RepeatDays}
		</div>
	</div>
</div>
</div>
{END RepeatDays_fieldblock}

			{BEGIN FinalDate_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_FinalDate}" data-fieldname="FinalDate" data-signal-error-for="FinalDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_FinalDate}">
		{BEGIN FinalDate_label}{$label fcevents FinalDate}{END FinalDate_label}
	</label>
	<div class="col-md-6" >
		{$FinalDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="FinalDate">
		<div class="text-muted" >
		{$tooltip fcevents FinalDate}
		</div>
	</div>
</div>
</div>
{END FinalDate_fieldblock}

			{BEGIN PersonId_fieldblock}<div class=container>
<div class="form-group {$fielddispclass_PersonId}" data-fieldname="PersonId" data-signal-error-for="PersonId{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_PersonId}">
		{BEGIN PersonId_label}{$label fcevents PersonId}{END PersonId_label}
	</label>
	<div class="col-md-6" >
		{$PersonId_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="PersonId">
		<div class="text-muted" >
		{$tooltip fcevents PersonId}
		</div>
	</div>
</div>
</div>
{END PersonId_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN editbuttons}{BEGIN save_button}<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN back_button}<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
	{BEGIN close_button}<a href="#" class="btn btn-default" {$closebutton_attrs}>Cancel</a>
	{END close_button}

{END editbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="  text-right col-md-3 "> 

{BEGIN righteditbuttons}<div class="btn-group" role="group">
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
			{BEGIN reset_button}<li><a href="#" {$resetbutton_attrs}>Reset</a></li>
			{END reset_button}
			{BEGIN view_page_button}<li><a href="#" {$view_page_button_attrs}>View</a></li>
			{END view_page_button}
		</ul>
	</div>
</div>
{END righteditbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	</DIV>
{END body}
	</body>
</html>
