<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel public_fac_cliente search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN id_cliente_fieldblock}		
	<div class="container {$fielddispclass_id_cliente}" data-fieldname="id_cliente">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_id_cliente}">
				{$label public_fac_cliente id_cliente}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_id_cliente}
			</div>
			<div class="col-md-4" >
				{$id_cliente_editcontrol}
			</div>
			<div class="col-md-4" >
				{$id_cliente_editcontrol1}
			</div>
		</div>
	</div>
{END id_cliente_fieldblock}
	{BEGIN cli_nombre_fieldblock}		
	<div class="container {$fielddispclass_cli_nombre}" data-fieldname="cli_nombre">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_cli_nombre}">
				{$label public_fac_cliente cli_nombre}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_cli_nombre}
			</div>
			<div class="col-md-4" >
				{$cli_nombre_editcontrol}
			</div>
			<div class="col-md-4" >
				{$cli_nombre_editcontrol1}
			</div>
		</div>
	</div>
{END cli_nombre_fieldblock}
	{BEGIN cli_nit_fieldblock}		
	<div class="container {$fielddispclass_cli_nit}" data-fieldname="cli_nit">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_cli_nit}">
				{$label public_fac_cliente cli_nit}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_cli_nit}
			</div>
			<div class="col-md-4" >
				{$cli_nit_editcontrol}
			</div>
			<div class="col-md-4" >
				{$cli_nit_editcontrol1}
			</div>
		</div>
	</div>
{END cli_nit_fieldblock}
	{BEGIN id_empresa_fieldblock}		
	<div class="container {$fielddispclass_id_empresa}" data-fieldname="id_empresa">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_id_empresa}">
				{$label public_fac_cliente id_empresa}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_id_empresa}
			</div>
			<div class="col-md-4" >
				{$id_empresa_editcontrol}
			</div>
			<div class="col-md-4" >
				{$id_empresa_editcontrol1}
			</div>
		</div>
	</div>
{END id_empresa_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Buscar</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reiniciar</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Volver a la lista</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
